In [1]:
import pandas as pd
df = pd.read_csv("D:\\Data Science\\Code basics\\py-master\\pandas\\16_ts_holidays\\aapl_no_dates.csv")
df.head()## lets say we do not have the date column, but what we know that our data start from 1 jul to 21 jul

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [2]:
pd.date_range(start='7/1/2017', end='7/21/2017', freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [3]:
## here it displays the 4th july, but if we look at the real dataset with date we will not find the 4th july, so we have to exclude it
## for excluding that we have to use US holiday calender

In [4]:
## using the US holiday calender
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

## creating the custom business day
usb = CustomBusinessDay(calendar= USFederalHolidayCalendar())
usb

In [5]:
## now we can use that to our frequency
rng = pd.date_range(start='7/1/2017', end='7/21/2017', freq=usb) ## now it doesn't have the 4th July

In [6]:
## adding it to the dataframe
df.set_index(rng, inplace=True)
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

**You can define your own calendar using AbstractHolidayCalendar as shown below. USFederalHolidayCalendar is the only calendar available in pandas library and it serves as an example for those who want to write their own custom calendars. Here is the link for USFederalHolidayCalendar implementation https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/holiday.py**

In [13]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myBirthDayCalender(AbstractHolidayCalendar):
    rules = [
        Holiday('Aji Birth day', month=4, day=12) ##, observance = nearest_woekday
    ]
mycal = CustomBusinessDay(calendar=myBirthDayCalender())
mycal

In [15]:
pd.date_range(start='4/1/2017', end='4/30/2017', freq=mycal)
## we can able to see the 12th apr is missing

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-13',
               '2017-04-14', '2017-04-17', '2017-04-18', '2017-04-19',
               '2017-04-20', '2017-04-21', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

In [20]:
## Custom Business day

In [21]:
## Some times the holiday is observed on following week day or previous day
class myBirthDayCalender(AbstractHolidayCalendar):
    rules = [
        Holiday('Aji Birth day', month=4, day=15, observance = nearest_workday)
    ]
mycal = CustomBusinessDay(calendar=myBirthDayCalender())
mycal

In [22]:
pd.date_range(start='4/1/2017', end='4/30/2017', freq=mycal)
## After 13 .... 14, 15, 16 are considered as Holiday

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-17', '2017-04-18', '2017-04-19',
               '2017-04-20', '2017-04-21', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

In [25]:
## Weekend in egypt is Friday and Saturday. Sunday is just a normal weekday and you can handle this custom week schedule
## using CystomBysinessDay with weekmask as shown below
b = CustomBusinessDay(weekmask = 'Sun Mon Tue Wed Thu')
pd.date_range(start='7/1/2017', end='7/30/2017', freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-16', '2017-07-17',
               '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-23',
               '2017-07-24', '2017-07-25', '2017-07-26', '2017-07-27',
               '2017-07-30'],
              dtype='datetime64[ns]', freq='C')

In [27]:
## menthoning a holiday
b = CustomBusinessDay(weekmask = 'Sun Mon Tue Wed Thu', holidays = ['2017-07-04'])
pd.date_range(start='7/1/2017', end='7/30/2017', freq=b)

## here we can see 4th July is missing

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-16', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-23', '2017-07-24',
               '2017-07-25', '2017-07-26', '2017-07-27', '2017-07-30'],
              dtype='datetime64[ns]', freq='C')