In [1]:
import pandas as pd

In [5]:
## we have the list of date of a same day, whcih we are converting them into pandas datetime format
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates, format='mixed')

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [6]:
## giving time
dates = ['2017-01-05 2:30:00 pm', 'Jan 5, 2017', '01/05/2017 14:30:00', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates, format='mixed')

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [7]:
## for US -- mm/dd/yyyy
## for europe -- dd/mm/yy
pd.to_datetime('5/1/2017', dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [10]:
## We can use our custom format also
pd.to_datetime('5$1$2017', format='%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [15]:
## what happens when we have the string values
dates = ['2017-01-05 2:30:00 pm', 'Jan 5, 2017', '01/05/2017 14:30:00', '2017.01.05', '2017/01/05','abc']
## by default the errors are set as raise, we have to change it to coerce
pd.to_datetime(dates, format='mixed', errors='coerce') ## the string value converted as Not a Timestamp(NaT)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00',                 'NaT'],
              dtype='datetime64[ns]', freq=None)

In [19]:
## for habdling the date in the format of Epoch (unix time) is number of seconds that have passed since Jan 1, 1970 00:00:00 UTC
t = 1501356749 ### time till 2017 in seconds 
dt = pd.to_datetime([t], unit='s')
dt

DatetimeIndex(['2017-07-29 19:32:29'], dtype='datetime64[ns]', freq=None)

In [22]:
## convert back to Epoch
dt.view('int64') ## got epoch value with extra zeros for considering the nano seconds

array([1501356749000000000], dtype=int64)