In [ ]:
"""
What is a Dataframe?
    Dataframe os a main object in Pandas. It is used to represent data with 
    rows and columns (Tabular or excel spreadsheet like data)

"""

In [ ]:
"""
Topics to be covered:

    1) Creating dataframe
    2) Dealing with rows and columns
    3) Operations: min, max, std, describe
    4) Conditional selection
    5) set_index

"""

In [3]:
import pandas as pd
df=pd.read_csv("D:\\Data Science\\py-master\\pandas\\2_dataframe_basics\\weather_data.csv") #or the data can be given in the dictionary form
df #Shows the content of the dataframe

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
#Data in the Dictionary form
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
test = pd.DataFrame(weather_data)
test

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
#To print shap of the DF
print(df.shape)

#To print rows and columns
rows, columns = df.shape
print(rows)
print(columns)

(6, 4)
6
4

In [11]:
print(df.head())# It prints intial few rows
df.head(2) # prints only 2 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [13]:
print(df.tail())#prints last 5 rows
df.tail(1)

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [14]:
#Indexing and Slicing in Pandas
#to print from 2nd row to 4th row
print(df[2:5])

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [16]:
#To print everything
df[:] #or can use df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [17]:
#To print columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [21]:
#To print individual content of the column
print(df.day)
print(df.event)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object
0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [23]:
#can also do like accessing the dictionary
df["event"] #or can use df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [24]:
#to get data type
type(df["event"])

pandas.core.series.Series

In [28]:
#to print few columns
df[["event","day","temperature"]]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [30]:
#Operations in the dataframe
#to get maximum temperature
df['temperature'].max()

35

In [31]:
df['temperature'].mean()

30.333333333333332

In [32]:
df['temperature'].min()

24

In [33]:
df['temperature'].std()

3.8297084310253524

In [34]:
#To describe, i.e to give about the overall meaning of the dataset
df.describe()#it will provide -- count, mean, std, min,25%, 50%, 75% and max valuesbb

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [36]:
#To print row of the temperature value greater than or equal to 32 
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [41]:
#To get row of the twmperature value which is maximum
print(   df[df.temperature == df.temperature.max()]   )

#or can use
print(   df[df.temperature == df["temperature"].max()]   ) #This can be useful in case the column name has a space

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [42]:
#To print a specific column insted of entire row
df["day"][df.temperature == df["temperature"].max()]

1    1/2/2017
Name: day, dtype: object

In [49]:
#to get the day along with the max temperature
df[["day","temperature"]][df.temperature == df["temperature"].max()]

        day  temperature
1  1/2/2017           35

In [50]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [48]:
#Set index
df.index #we get index as integers

RangeIndex(start=0, stop=6, step=1)

In [54]:
#to change index to be as day
print(df.set_index("day")) #Indexed to date

#to change the index in the original df 
df.set_index("day",inplace=True)#Indexed to date in original df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [55]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [57]:
df.loc["1/3/2017"]#Using the data as index, it will return the particular row

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [61]:
#To reset the index to be the original one
df.reset_index(inplace=True)
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2

In [62]:
df.set_index("event",inplace=True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [63]:
#Here the event is not unique, lets see what happens when we use a particular event for indexing
df.loc["Snow"]
#It will pring all the available rows

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7